- page_articles.each do |article|
  %h2
    =link_to(article.title, article)
    %span
      =article.date.strftime('%b %e')
      // Can use article.summary(250) if we have Nokogiri available
  = article.body
